/* CSS untuk container login */
.login-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #73AB56;
}

/* Gambar latar belakang */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  z-index: 0;
  object-fit: cover;
}

/* Box utama login */
.login-box {
  background-color: #15803d;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  border: 2px solid white;
  text-align: center;
  z-index: 2;
  width: 400px;
}

/* Judul login */
.login-box h1 {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
}

/* Input untuk username dan password */
input[type="text"], input[type="password"] {
  width: calc(100% - 20px); /* Memberi jarak pada kiri dan kanan */
  padding: 15px;
  margin: 10px auto 10px auto; /* Jarak antara input lebih rapi */
  border-radius: 8px;
  font-size: 16px;
  background-color: #D9D9D9; /* Warna latar belakang input */
  color: #333; /* Warna teks input */
  border: none;
  display: block;
}

/* Style untuk pesan error */
.error-message {
  color: #ff4d4d; /* Warna merah untuk pesan error */
  margin: 10px 0; /* Jarak atas dan bawah */
  font-size: 14px;
  font-weight: bold;
}

/* Container tombol */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Menambahkan jarak antara pesan error dan tombol */
}

/* Gaya untuk tombol login */
.login-button {
  padding: 10px;
  background-color: #1c6e3a; /* Warna hijau tombol */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 45%;
}

/* Hover pada tombol login */
.login-button:hover {
  background-color: #388E3C; /* Warna hijau gelap untuk hover */
}

/* Fokus pada tombol */
.login-button:focus {
  outline: none;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  width: calc(100% - 50px); /* Menyisakan ruang untuk tombol Show/Hide */
}

.toggle-password-btn {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 18px; /* Sesuaikan ukuran ikon */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
